{% extends 'game/base.html' %}

{% block content %}
<h1>Create Game</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="InputUserName">Enter a username</label>
        <input type="text" class="form-control" id="InputUserName" name="InputUserName" aria-describedby="usernameHelp"
               placeholder="Enter a username" required>
    </div>

    <div class="form-group">
        <label for="InputWerwolfNumber">Werwölfe</label>
        <input type="number" min="1" class="form-control" id="InputWerwolfNumber" name="InputWerwolfNumber" aria-describedby="werwolfNumberHelp"
               placeholder="Enter a number" value="1" required>
        <small id="werwolfNumberHelp" class="form-text text-muted">Choose how many Werwölfe should be in this round.</small>
    </div>

    <div class="form-group">
        <label for="InputWitchNumber">Hexen</label>
        <input type="number" min="0" class="form-control" id="InputWitchNumber" name="InputWitchNumber" aria-describedby="witchNumberHelp"
               placeholder="Enter a number" value="0" required>
        <small id="witchNumberHelp" class="form-text text-muted">Choose how many Hexen should be in this round.</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}