{% extends 'game/base.html' %}

{% block content %}
    <h1>Game Round: <span id="round">{{ lobby.round }}</span> (Time left: <span id="time"></span>s)</h1>

    <p>It's <span id="daytime"></span></p>

    <p>Hi {{ player.username }}</p>
    <p>You are in the lobby {{ lobby.game_id }}</p>

    <p>{% if player.username == lobby.host.username %} You are the host {% endif %} </p>

    <p id="role"></p>

    <p>List of players</p>
    <ul id="players"></ul>

    {% if player.username == lobby.host.username and lobby.round == 0 %}
        <button id="start_button" onclick="start_game()" class="btn btn-primary">Start game</button>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        function get_players(players, data) {
            players_list = "";
            for (i = 0; i < players.length; i++) {
                var vote = "";
                var action_button = "";
                if (players[i].alive) {
                    var player_status = "Alive";
                    if (data.round % 2 == 0) {
                        var vote_button = "";
                        if (data.alive && data.id != players[i].id) {
                            if (players[i].selected) {
                                vote_button = "<b>Vote</b>"
                            } else {
                                vote_button = "<button onclick=\"vote(" + players[i].id + ")\">Vote</button>";
                            }
                        }
                        var vote_count = data.players[i].vote_count;
                        action_button = vote_button + " (Votes: " + vote_count + ")";
                    } else if (data.round % 2 == 1) {
                        if (data.role.id == 1) {
                            var kill_button = "";
                            if (data.alive && players[i].alive && data.id != players[i].id) {
                                if (players[i].selected) {
                                    kill_button = "<b>Kill</b>"
                                } else {
                                    kill_button = "<button onclick=\"kill(" + players[i].id + ")\">Kill</button>";
                                }
                            }
                            // var vote_count = data.players[i].vote_count;
                            // action_button = vote_button + " (Votes: " + vote_count + ")";
                            action_button = kill_button
                        } else if (data.role.id == 2) {
                            var heal_button = "";
                            if (data.alive && players[i].alive && data.role.heal > 0) {
                                if (players[i].selected) {
                                    heal_button = "<b>Heal</b>"
                                } else {
                                    heal_button = "<button onclick=\"heal(" + players[i].id + ")\">Heal</button>";
                                }
                            }
                            // var vote_count = data.players[i].vote_count;
                            // action_button = vote_button + " (Votes: " + vote_count + ")";
                            action_button = heal_button
                        }
                    }
                } else {
                    var player_status = "Dead";
                }

                players_list += "<li>" + players[i].username + " (" + player_status + ") " + action_button + "</li>";
            }
            $("#players").html(players_list);
        }

        function status() {
            $.ajax({
                type: "GET",
                url: "{% url 'game:status' lobby.game_id %}",
                dataType: 'json',
            }).done(function(data) {
                if (data.winning_team) {
                    window.location.replace("http://stackoverflow.com");
                }
                $("#round").html(data.round);
                $("#time").html(data.time);
                if (data.role) {
                    var role_text = "Your role is " + data.role.name
                    if (data.role.id == 2) {
                        role_text = role_text.concat(". You have " + data.role.heal + " heal left.")
                    }
                    $("#role").html(role_text);
                }
                get_players(data.players, data);

                if (data.round > 0) {
                    $("#start_button").remove();

                    if (data.round % 2 == 1) {
                        $("#daytime").html("nighttime");
                    } else if (data.round % 2 == 0) {
                        $("#daytime").html("daytime");
                    }
                }
            });
        }

        function start_game() {
            $("#start_button").addClass('disabled');

            $.ajax({
                type: "POST",
                url: "{% url 'game:start' lobby.game_id %}",
                dataType: "json",
                data: {"csrfmiddlewaretoken": "{{ csrf_token }}"}
            }).done(function(data) {
                $("#start_button").remove();
            });
        }

        function vote(user_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'game:vote' lobby.game_id %}",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "vote_target": user_id
                }
            }).done(function(data) {
                // do nothing
            });
        }

        function kill(user_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'game:kill' lobby.game_id %}",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "kill_target": user_id
                }
            }).done(function(data) {
                // do nothing
            });
        }

        function heal(user_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'game:heal' lobby.game_id %}",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "heal_target": user_id
                }
            }).done(function(data) {
                // do nothing
            });
        }

        status();
        setInterval(function(){status()}, 1000);
    </script>
{% endblock %}