{% extends 'game/base.html' %}

{% block content %}
    <h1>Game Round: <span id="round"></span></h1>

    <p>Hi {{ player.username }}</p>
    <p>You are in the lobby {{ lobby.game_id }}</p>

    <p>{% if player.username == lobby.host.username %} You are the host {% endif %} </p>

    <p id="role"></p>

    <p>List of players</p>
    <ul id="players"></ul>

    {% if player.username == lobby.host.username and lobby.round == 0 %}
        <button id="start_button" onclick="start_game()" class="btn btn-primary">Start game</button>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        function get_players(players) {
            players_list = "";
            for (i = 0; i < players.length; i++) {
                players_list += "<li>" + players[i].username + "</li>";
                if (players[i].username == '{{ player.username }}') {
                    if (players[i].role) {
                        $("#role").html('Your role is ' + players[i].role);
                    }
                }
            }
            $("#players").html(players_list);
        }

        function status() {
            $.ajax({
                type: "GET",
                url: "{% url 'game:status' lobby.game_id %}",
                dataType: 'json',
            }).done(function(data) {
                $("#round").html(data.round);
                get_players(data.players)

                if (data.round > 0) {
                 $("#start_button").remove();
                }
            });
        }

        function start_game() {
            $("#start_button").addClass('disabled');

            $.ajax({
                type: "POST",
                url: "{% url 'game:start' lobby.game_id %}",
                dataType: "json",
                data: {"csrfmiddlewaretoken": "{{ csrf_token }}"}
            }).done(function(data) {
                $("#start_button").remove();
            });
        }

        status();
        setInterval(function(){status();}, 2000);
    </script>
{% endblock %}